<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ .Title }}</title>
    
    {{- partial "opengraph.html" . -}}

    <meta name="author" content="{{ .Site.Params.author }}" />
    <meta name="description" content="{{ .Site.Params.description }}" />

    <link rel="preload" href="{{ "fonts/Newsreader.woff2" | relURL }}" as="font" type="font/woff2" crossorigin />
    <link rel="preload" href="{{ "fonts/Newsreader-italic.woff2" | relURL }}" as="font" type="font/woff2" crossorigin />

    <link rel="stylesheet" href="{{ "css/styles.css" | relURL }}" />
    <link rel="stylesheet" href="{{ "css/growth-stages.css" | relURL }}" />
    <link rel="stylesheet" href="{{ "css/recommendations.css" | relURL }}" />

    <link rel="icon" type="image/x-icon" href="{{ "favicon.ico" | relURL }}" />
    <link rel="apple-touch-icon" href="{{ "apple-touch-icon.png" | relURL }}" />

    <script src="{{ "js/init-darkmode.js" | relURL }}" defer></script>
    <script src="{{ "js/darkmode.js" | relURL }}" defer></script>
    <script src="{{ "js/footnotes.js" | relURL }}" defer></script>
</head>